@model ViewModels.StudentBasic

<form asp-controller="student" asp-action="add">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName" style="color:red"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName" style="color:red"></span>
    <input type="submit" value="add" />
</form>